/* These are the universal settings to remove any default margin padding of the browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #ffffff;
    max-width: 100%;
    color: #333;
}

/* as apne pele hi background color white de dia hai..to baar baar dene ki need nhi h. islie comment kr dia. remove kr dena padh ke */
header{
    max-width: 100%;
    height: 15vh;
    /* background-color: #ffffff; */
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    /* align-content: center;  You should use align items instead of align content .ye content ko vertically center krta hai relative to the parent element*/ 
    align-items: center;
}
/* This is the css for nav inside the header.nav is also a type of div. so we give it a flex and gap. do stude about flex and gap from w3 schools. */
nav {
    display: flex;
    gap: 20px;
    padding: 10px;
}
 nav a{
    text-decoration: none;
    color: #333;  
    font-weight: 500;
    padding: 10px;
}
/* with hover jab ham mouse ko upr leke jaenge  a tag wale elements ke to umpr ye property apply ho jaegi  */
nav a:hover{
    background-color: #ed6514;
    color: #ffffff;
    border-radius: 10px;
}
header .signup-btn{
    background-color: #ed6514;
    padding: 10px 20px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.outer{
    width: 100%;
    height: 80vh;
    display: flex; 
    align-items: center;
    padding-inline: 60px;
    justify-content:center;
}
.textbox{
    width: 45%;
}
.textbox h1{
    color: #333;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.textbox p{
    color: #333;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.02rem;
}
.textbox h1 .highlight{
    color: #ed6514;
}
.started{
      background: #ff6600;
      color: white;
      padding: 12px 25px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      margin-top:2rem;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.images img{
    width: 60%;
}
.Services{
/*margin: 30px;*/
padding: 30px;
font-size: x-large;

text-align: center;
}
.highlights{
color:#ff6600;
font-weight: bolder;
}
.service{
    max-width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    padding-inline: 40px;
    align-items: center;
}
.card{
    border: solid black;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}
.card:hover{
    background-color:#ff6600;
    color:#ffffff ;
    border-radius: 10px;
    box-shadow: 10px 10px black;
}
.outer2{
    
    background-color: #fcede6;
    width: 100%;
    height: 70vh;
    display: flex; 
    align-items: center;
    padding-inline: 60px;
    justify-content:center;
}
.outer2 img{
    width: 45%;
 
    padding: 10px 20 px;
    height: auto;
}
